@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root{
  --hijauMuda:rgb(1, 153, 53);
  --hijauSangatMuda:#afe692;
  --hijauTua:#037c69;
  --hijauSangatTua:#004142;
  --hijauTuaSekali:rgb(0, 50, 51);
  --lime:#b5e31e;
  --putihKalem:#f9fbf9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
}

/* HEADER */
header{
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: linear-gradient(to bottom, var(--hijauMuda), var(--hijauTuaSekali));
}
header nav{
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid var(--hijauTuaSekali);
  background-color: rgb(0, 50, 51, 90%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}
header nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
header nav a{
  color: var(--lime);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
header nav a::after{
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  bottom: -2px;
  width: 0;
  background-color: var(--lime);
  transition: 0.3s ease;
}
header nav a:hover::after{
  width: 100%;
}
header P{
  color: var(--hijauSangatTua);
  font-size: 20px;
  letter-spacing: 5px;
  color: var(--hijauSangatTua);
  font-weight: bold;
}
.mainJudul{
  background-image: linear-gradient(to right, var(--hijauTuaSekali) 40%, var(--lime));
  background-clip: text;
  font-size: 60px;
  color: transparent;
  padding-top: 150px;
}
/* gambar daun */
.slider {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 50px;
}

.slide-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    will-change: transform; /* bantu browser render lebih mulus */
}
.slideGrup {
    display: flex;
    gap: 20px;
    padding-right: 20px;/* jaga jarak antar grup sama dengan gap antar item */
}
.slide-track section{
  width: 200px;
  flex-shrink: 0;
  border: 1px solid var(--hijauSangatTua);
  border-radius: 10px;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  background-color:#aec0ae;
  box-shadow: 0 0 10px rgb(174, 192, 174, 0.5);
}
.slide-track img{
  width: 200px;
  height: 160px;
  object-fit:cover;
  overflow: hidden;
}
.slide-track section p{
  font-size: 14px;
  margin: 10px;
  letter-spacing: 0px;
}

@keyframes scroll {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-50%, 0, 0);
    }
}
/* MAIN */
.intro{
  display: flex;
  margin: 130px auto;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgb(3, 124, 105, 0.2);
  height: 100%;
  padding: 20px;
  width: 98%;
}
.intro .deskripsi{
  text-align: left;
  margin: 30px;
  width: 50%;
}
.deskripsi h2{
  margin-bottom: 60px;
  font-size: 40px;
  color: var(--hijauTua);
}
.intro h2 span{
  color: var(--hijauSangatTua);
}
.intro p{
  line-height: 25px;
  color: var(--hijauSangatTua);
  margin-bottom: 20px;
}
.intro .gambar img{
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  margin: 10px;
  animation: floating 3s ease-in-out infinite;
}
/* Kasih delay berbeda tiap gambar biar gerakannya tidak seragam/kaku */
.intro .gambar img:nth-child(1) {
    animation-delay: 0s;
}
.intro .gambar img:nth-child(2) {
    animation-delay: 0.5s;
}
.intro .gambar img:nth-child(3) {
    animation-delay: 1s;
}
.intro .gambar img:nth-child(4) {
    animation-delay: 1.5s;
}
@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* deteksi */
.deteksi{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: var(--hijauTuaSekali);
  color: white;
  padding: 25px; 
}
.deteksi .metode{
  display: flex;
  
}
.deteksi h2{
  border-bottom: 1px solid var(--lime);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  letter-spacing: 7px;
  
}
.deteksi p{
  margin-bottom: 30px;
}
.deteksi h2 span{
  color: var(--hijauSangatMuda);
  text-shadow: 0px 0px 4px rgba(181, 227, 30, 0.5);
}
/* Ambil dari galeri */
.uploadGambar label{
  border: 2px solid var(--hijauTua);
  border-radius: 5px;
  padding: 5px;
  color: var(--hijauTuaSekali);
  background-color: var(--putihKalem);
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.uploadGambar input{
  display: none;
}
.uploadGambar label:hover{
  background-color: var(--putihKalem);
  border-color: var(--hijauMuda);
}

/* dragDrop */
.dragDrop {
  border: 2px dashed var(--hijauTua);
  border-radius: 10px;
  background-color: var(--putihKalem);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 400px;
  margin: 20px auto;
}

.dragDrop p {
  font-family: sans-serif;
  color: var(--hijauTuaSekali);
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

/* Efek saat kursor di atas area */
.dragDrop:hover {
  background-color: var(--putihKalem);
  border-color: #388e3c;
}
/* camera */
.startCamera,
#btnCapture{
  border: 2px solid var(--hijauTua);
  border-radius: 5px;
  padding: 5px;
  color: var(--hijauTuaSekali);
  background-color: var(--putihKalem);
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.startCamera:hover,
#btnCapture:hover{
  background-color: var(--putihKalem);
  border-color: #388e3c;
}

/* previewGambar */
.previewGambar{
  margin: 0 auto;
}
.previewGambar img{
  border: 3px solid black;
  margin-top: 20px;
  width: 300px;
  height: auto;
  color: black;
  background-color: var(--putihKalem);
}
/* hasilPrediksi */
.hasilPrediksi{
  background-color: var(--hijauSangatMuda);
  width: 50%;
  border: 1px solid var(--hijauMuda);
  border-radius: 10px;
  margin: 10px auto;
  padding: 5px 10px;
}
.hasilPrediksi .prediksi{
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--hijauTuaSekali);
  color: var(--hijauMuda);
  font-size: 40px;
  margin: 0;
}
.hasilPrediksi .persenPrediksi{
  font-size: 45px;
  margin: 10px ;
  color: transparent;
  background-image: linear-gradient(to bottom, var(--hijauTuaSekali)10%, var(--hijauTua));
  background-clip: text;
}
.hasilPrediksi .detailPrediksi{
  font-weight: bold;
  border: 2px dashed var(--hijauMuda);
  background-color: var(--putihKalem);
  padding: 10px;
}
.informasi{
  background-color: var(--putihKalem);
  width: 50%;
  margin: 10px auto;
  border: 2px solid var(--hijauSangatMuda);
}

/* footer */
footer p{
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}
footer p span{
  color: var(--hijauSangatTua);
  font-weight: bolder;
  letter-spacing: 2px;
}