@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root{
  --hijauMuda:#019935;
  --hijauSangatMuda:#afe692;
  --hijauTua:#037c69;
  --hijauSangatTua:#004142;
  --hijauTuaSekali:#003233;
  --lime:#b5e31e;
  --putihKalem:#f9fbf9;
}
*{
  margin-left: 0;
  margin-right: 0;
}

body{
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
}

/* HEADER */
.mainJudul{
  background-image: linear-gradient(to right, var(--hijauMuda) 50%, var(--hijauSangatMuda));
  background-clip: text;
  font-size: 50px;
  color: transparent;
  margin-bottom: 5px;
}
header P{
  color: var(--hijauSangatTua);
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}
/* MAIN */
.intro{
  border: 2px solid var(--hijauSangatTua);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgb(3, 124, 105, 0.2);
  width: 60%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}
.intro h2{
  font-size: 26px;
  color: var(--hijauTua);
}
.intro h2 span{
  color: var(--hijauSangatTua);
}
.intro p{
  line-height: 20px;
  color: var(--hijauSangatTua);
}

/* deteksi */
.deteksi{
  margin-top: 40px;
  background-color: var(--hijauTuaSekali);
  color: white;
  padding: 25px; 
}
.deteksi h2{
  border-bottom: 1px solid var(--lime);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  letter-spacing: 7px;
  
}
.deteksi p{
  margin-bottom: 30px;
}
.deteksi h2 span{
  color: var(--hijauSangatMuda);
  text-shadow: 0px 0px 4px rgba(181, 227, 30, 0.5);
}
/* Ambil dari galeri */
.uploadGambar label{
  border: 2px solid var(--hijauTua);
  border-radius: 5px;
  padding: 5px;
  color: var(--hijauTuaSekali);
  background-color: var(--putihKalem);
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.uploadGambar input{
  display: none;
}
.uploadGambar label:hover{
  background-color: var(--putihKalem);
  border-color: var(--hijauMuda);
}

/* dragDrop */
.dragDrop {
  border: 2px dashed var(--hijauTua);
  border-radius: 10px;
  background-color: var(--putihKalem);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 400px;
  margin: 20px auto;
}

.dragDrop p {
  font-family: sans-serif;
  color: var(--hijauTuaSekali);
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

/* Efek saat kursor di atas area */
.dragDrop:hover {
  background-color: var(--putihKalem);
  border-color: #388e3c;
}
/* camera */
.startCamera,
#btnCapture{
  border: 2px solid var(--hijauTua);
  border-radius: 5px;
  padding: 5px;
  color: var(--hijauTuaSekali);
  background-color: var(--putihKalem);
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.startCamera:hover,
#btnCapture:hover{
  background-color: var(--putihKalem);
  border-color: #388e3c;
}

/* previewGambar */
.previewGambar{
  margin: 0 auto;
}
.previewGambar img{
  border: 3px solid black;
  margin-top: 20px;
  width: 300px;
  height: auto;
  color: black;
  background-color: var(--putihKalem);
}
/* hasilPrediksi */
.hasilPrediksi{
  background-color: var(--hijauSangatMuda);
  width: 50%;
  border: 1px solid var(--hijauMuda);
  border-radius: 10px;
  margin: 10px auto;
  padding: 5px 10px;
}
.hasilPrediksi .prediksi{
  font-size: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--hijauTuaSekali);
  color: var(--hijauMuda);
  font-size: 40px;
  margin: 0;
}
.hasilPrediksi .persenPrediksi{
  font-size: 45px;
  margin: 10px ;
  color: transparent;
  background-image: linear-gradient(to bottom, var(--hijauTuaSekali)10%, var(--hijauTua));
  background-clip: text;
}
.hasilPrediksi .detailPrediksi{
  font-weight: bold;
  border: 2px dashed var(--hijauMuda);
  background-color: var(--putihKalem);
  padding: 10px;
}
.informasi{
  background-color: var(--putihKalem);
  width: 50%;
  margin: 10px auto;
  border: 2px solid var(--hijauSangatMuda);
}

/* footer */
footer p{
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}
footer p span{
  color: var(--hijauSangatTua);
  font-weight: bolder;
  letter-spacing: 2px;
}