@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  background-color:#0f172a ;
  color: #ffffff;
}
h1,
h2,
h3{
  font-family: "Poppins", sans-serif;
} 
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cbd5e1;
  box-shadow: 0 0 5px #cbd5e1cc;
  background-color: rgba(7, 11, 20, 0.9);
  position: sticky;
  top: 0;
  padding: 10px 5px ;
  z-index: 1000;
}
.header h1{
  font-size: 30px;
  letter-spacing: 3px;
  background-image: linear-gradient(to right,#0650fe , #06b6d4 90%);
  color: transparent;
  background-clip: text;
}

.header nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3px;
  
}
.header nav ul li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
}
/* garing bawah */
.header nav a:hover{
  color: #06b6d4;
}
/* main */
main .hero{
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #1E2D3D, #0B131A);
  box-shadow: 0 0 10px rgb(0, 0, 0);
  
  /* border-radius: 0 0 40px 40px; */
}
main .hero .judul{
  font-size: 60px;
  color: #06b6d4;
  padding: 20px;
}
main .hero .judul span{
  color: rgb(7, 210, 246);
  text-shadow: 0 0 9px rgba(255, 255, 0, 0.9);
}
main .hero a{
  text-decoration: none;
  color: rgb(246, 246, 246);
  background-color: #06b6d4;
  padding: 10px 15px;
  border-radius: 18px;
  font-size: 15px;
  font-weight: bolder;
  box-shadow: 0 0 5px #cbd5e1cc;
  transition: all 0.3s ease;
}
main .hero a:hover{
  transform: scale(1.1);
}
/* about */
.about{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "left right"
    "bottom bottom";
  gap: 40px;
}
.about .tentang{
  grid-area: left;
  padding-left: 20px;
}
.about .highlight{
  grid-area: right;
}
.about .marquue{
  grid-area: bottom;
}

/* tentang */
.tentang h2{
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 1;
  padding: 20px;
}
.tentang h2 span:first-child{
  font-size: 50px;
  color: #fff
}
.tentang h2 span:nth-child(2){
  font-size: 40px;
  color: #06b6d4;
}
.tentang h2 span:last-child{
  font-size: 70px ;
  background-image: linear-gradient(
    to right,
    #06b6d4,
    #0650fe
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  filter: drop-shadow(0 0 8px rgba(6, 182, 212, 0.35));
}
.tentang p{
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
}

/* highlight */
.about .highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.about .highlight p {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;

  width: fit-content;
  margin: 0;
  padding: 8px 18px;

  border: 1px solid rgba(6, 182, 212, 0.35);
  border-radius: 40px;

  background-color: rgba(203, 213, 225, 0.08);

  color: #cbd5e1;
  font-size: 18px;
  letter-spacing: 1px;

  filter: drop-shadow(0 0 8px rgba(6, 182, 212, 0.15));

  transition: all 0.3s ease;
}

/*marquue  */
.about .marquue{
  background-color: rgba(6, 182, 212, 0.4);
  border-top: 1px solid rgba(6, 182, 212, 0.4);
  border-bottom: 1px solid rgba(6, 182, 212, 0.4);
  overflow: hidden;
  width: 100%;
  padding: 12px 0;
}
@keyframes berjalan{
  from{
    transform: translateX(100vw);
  }
  to{
    transform: translateX(-100%);
  }
}
.about .marquue p{
  white-space: nowrap;
  width: max-content;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #06b6d4;
  text-shadow: 0 0 8px rgba(6, 182, 212, 0.5);
  animation-name: berjalan;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* Line up */
.lineup{
  margin: 20px 0;
  padding: 20px 0;
  position: relative;
  background-color: #141e36 ;
  box-shadow: 0 0 20px rgba(255 255 255 / 0.10) ;
}
.lineup h3{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 0 10px;
  font-size: 40px;
  background-image: linear-gradient(to left, #0650fe , #06b6d4 80% );
  background-clip: text;
  color: transparent;
}
.lineup ul{
  margin: 60px 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content:space-around;
}
.lineup ul li{
  display: flex;
}
.lineup ul figure{
  /* flex-basis: 300px;
  flex-grow: 1; */
  flex: 1  1 300px;
  border: 2px solid transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 10px;
  background-color:#000a23;
  box-shadow: 0 0 7px rgba(6 182 212/0.3);
  transition: all 0.5s ease;
}
.lineup ul figure:hover{
  border: 2px solid #0195af;
  box-shadow: 0 0 7px rgba(6 182 212/0.5);
  transform: translateY(-8px);
}

.lineup ul figure img{
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 7px solid #06b6d4;
  width: 150px;        
  height: 150px;
  box-shadow: 0px 0px 5px rgba(253 253 253 );
}
.lineup ul figure figcaption{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.badgeDay{
  background-color: red;
  box-shadow: 0 0 8px rgba(255 255 255 / 0.7);
  padding: 7px 30px;
  font-weight: bolder;
  font-size: 20px;
  display: inline-block;
  border-radius: 8px 0 0 8px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 30px;
}
/* schedule */
.schedule{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.schedule h3{
  margin: 20px;
  padding: 0 10px;
  font-size: 40px;
  background-image: linear-gradient(to left, #0650fe 50% , #06b6d4 );
  background-clip: text;
  color: transparent;
}
.schedule table {
  width: 80%;
  border: 2px solid rgba(6, 182, 212, 0.4);
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(15, 23, 42, 0.8);
  box-shadow: 0 0 8px rgba(6, 182, 212, 0.5);
}

/* header  */
.schedule table th{
  height: 50px;
  background-color: #06b6d4;
  color: #012f37;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* isi tabel */
.schedule table td{
  height: 45px;
  padding: 8px 15px;
  border-bottom: 2px solid rgba(6, 182, 212, 0.4);
}

/* lebar kolom */
.schedule table th:first-child{
  width: 20%;
}
.schedule table th:nth-child(2){
  width: 50%;
}
.schedule table th:last-child{
  width: 30%;
}


/* zebra striping */
.schedule table tbody tr:nth-child(even){
  background-color: rgba(6, 182, 212, 0.08);
}

/* day 1 dan day 2 */
.schedule table tbody tr:first-child,
.schedule table tbody tr:nth-child(8) {
  background-color: rgba(6, 182, 212, 0.15);
  color: #06b6d4;
  font-weight: 700;
  letter-spacing: 2px;
}

/* hover */
.schedule table tbody tr:hover {
  background-color: rgba(6, 182, 212, 0.18);
  transition: 0.3s;
}

/* 2.5 TIKET SECTION */
.tiket{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tiket h3{
  margin: 20px;
  padding: 0 10px;
  font-size: 40px;
  background-image: linear-gradient(to left, #0650fe 50% , #06b6d4 );
  background-clip: text;
  color: transparent;
}